<link rel="import" href="../molecules/product/reviews/dorel-product-review-stars.html">
<link rel="import" href="../organisms/dorel-section-submit-review-tips.html">
<link rel="import" href="../atoms/dorel-input.html">
<link rel="import" href="../atoms/dorel-input-textarea.html">
<link rel="import" href="../atoms/dorel-radio-group.html">
<link rel="import" href="../atoms/dorel-checkbox.html">

<dom-module id="dorel-template-submit-review">
  <template>
    <style>
      .header {
        background-color: var(--theme-brand-color-1);
        color: var(--theme-color-white);
        float: left;
        width: 100%;
        height: 7rem;
      }

      .form-container {
        margin-bottom: 4rem;
      }

      .question {
        @apply(--theme-typography-5);
      }

      .property {
        @apply(--theme-typography-4);
        line-height: 2.5rem;
      }

      .property-description {
        @apply(--theme-typography-3);
        font-weight: var(--theme-font-weight-light);
        line-height: 2.5rem;
        margin-top: 0;
      }

      .stars {
        font-size: var(--theme-typography-8_-_font-size);
      }

      [tablet-medium-up] .details-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      [tablet-medium-up] .details-container--form, [tablet-medium-up] .details-container--tips {
        flex: 1
      }

      .details-container--tips, .details-container--tips-mobile {
        display: none;
      }

      .details-container--tips-mobile_open {
        display: block;
      }

      [tablet-medium-up] .details-container--tips {
        display: block;
      }

      [tablet-medium-up] .input {
        width: 90%;
      }

      .link-text {
        color: var(--theme-brand-color-3);
      }

      .limit-text {
        font-weight: var(--theme-font-weight-light);
      }

      .link-text:hover {
        cursor: pointer;
        color: var(--theme-brand-color-1);
      }

      .details-bonus {
        display: flex;
        justify-content: space-between;
        margin-top: 11rem;
      }

      [tablet-medium-up] .details-bonus {
        width: 90%;
      }

      [tablet-medium-up] .help-button {
        display: none
      }

      .info-container {
        margin-top: 6rem;
      }

      .checkbox {
        margin-top: 2rem;
      }

      .flex-two {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      [tablet-medium-up] .info-input, [tablet-medium-up] .flex-two {
        width: 50%;
      }

      .form-buttons {
        margin-top: 6rem;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:productName/submit-review"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <dorel-media-query
      breakpoints="{{breakpoints}}"></dorel-media-query>

    <dorel-section-page-nav
      breadcrumbs-toggle="true"></dorel-section-page-nav>

    <dorel-layout-container class="header">
      <h1 class="title">Submit your review</h1>
      <h2 class="subtitle">[[product.name.value]]</h2>
    </dorel-layout-container>

    <dorel-layout-container class="form-container" tablet-medium-up$="[[breakpoints.tabletMediumUp]]">
      <dorel-layout-row>
        <dorel-layout-column
          desktop-column-span="9"
          tablet-column-span="9"
          mobile-column-span="12">
          <section>
            <h3 class="question">1. How would you rate the following regarding the [[product.name.value]]?</h3>
            <section>
              <p class="property">Product Quality</p>
              <p class="property-description">Descriptive explanatory text to help the user.</p>
              <dorel-product-review-stars
                class="stars"
                class-addition="interactive"
                rating="{{productQualityRating}}"
                number-of-stars="5"
                interactive-enabled
                large-mode></dorel-product-review-stars>
            </section>
            <section>
              <p class="property">Ease of use</p>
              <p class="property-description">Descriptive explanatory text to help the user.</p>
              <dorel-product-review-stars
                class="stars"
                class-addition="interactive"
                rating="{{easeOfUseRating}}"
                number-of-stars="5"
                interactive-enabled
                large-mode></dorel-product-review-stars>
            </section>
            <section>
              <p class="property">Maintenance</p>
              <p class="property-description">Descriptive explanatory text to help the user.</p>
              <dorel-product-review-stars
                class="stars"
                class-addition="interactive"
                rating="{{maintenanceRating}}"
                number-of-stars="5"
                interactive-enabled
                large-mode></dorel-product-review-stars>
            </section>
            <section>
              <p class="property">Comfort</p>
              <p class="property-description">Descriptive explanatory text to help the user.</p>
              <dorel-product-review-stars
                class="stars"
                class-addition="interactive"
                rating="{{comfortRating}}"
                number-of-stars="5"
                interactive-enabled
                large-mode></dorel-product-review-stars>
            </section>
          </section>
          <section>
            <h3 class="question">2. How would you describe your experience with the [[product.name.value]]?</h3>
            <section class="details-container">
              <section class="details-container--form">
                <p class="property">In one sentence <span>(optional)</span></p>
                <dorel-input
                  class="input"
                  id="one-sentence"
                  value="{{oneSentence}}"></dorel-input>

                <div class="flex-two">
                  <p class="property">Write more details</p>
                  <iron-icon class="help-button" on-click="_showTips" icon="dorel-icons:help-outline"></iron-icon>
                </div>
                <dorel-section-submit-review-tips class$="details-container--tips-mobile [[tipsOpenClassName]]"></dorel-section-submit-review-tips>
                <dorel-input-textarea
                  class="input"
                  id="details"
                  value="{{details}}"
                  required></dorel-input-textarea>
                <div class="details-bonus">
                  <span class="limit-text">0/120 characters</span>
                  <span class="link-text">Add attachment</span>
                </div>
              </section>
              <dorel-section-submit-review-tips class="details-container--tips"></dorel-section-submit-review-tips>
            </section>
            <section>
              <p>Would you recommend this product?</p>
              <dorel-radio-group options="[[ radioOptions ]]"
                                 selected="{{ radioSelected }}">
              </dorel-radio-group>
            </section>
          </section>

         <section class="info-container">
           <h3 class="question">Your information</h3>
           <p class="property">Name/ Nickname</p>
           <p class="property-description">This name will appear under your review</p>
           <dorel-input
             class="info-input"
             id="name"
             value="{{name}}"></dorel-input>

           <p class="property">Email</p>
           <p class="property-description">This email will not be publicly shared</p>
           <dorel-input
             class="info-input"
             id="email"
             value="{{email}}"></dorel-input>
         </section>

         <dorel-checkbox class="checkbox" label="I agree with the Terms of Use and the Privacy Policy" color-code="#0096C3"></dorel-checkbox>

         <section class="flex-two form-buttons">
            <dorel-cta type="secondary" size="large" icon="dorel-icons:close">Cancel</dorel-cta>
            <dorel-cta type="primary" size="large" icon="dorel-icons:chevron-right">Submit</dorel-cta>
         </section>
        </dorel-layout-column>
      </dorel-layout-row>
    </dorel-layout-container>
  </template>

  <script>
    class DorelTemplateSubmitReview extends ReduxMixin(Polymer.mixinBehaviors([TemplateBehaviors, DorelMultilingualBehavior], Polymer.Element)) {

      static get is() { return 'dorel-template-submit-review'; }

      static get properties() {
        return {
          /**
           * @attribute
           * @name templateData
           * @description all data needed to build up a certain component
           */
          templateData: {
            type: Object,
            statePath: 'page.currentPage',
          },

          routeData: Object,

          product: {
            type: Object,
            statePath: function(state) {
              const product = state.product.products.find(product => product.url === this.routeData.productName);
              return product;
            }
          },

          productQualityRating: {
            type: Number,
            value: 0,
            observer: "_ratingChanged"
          },

          easeOfUseRating: {
            type: Number,
            value: 0,
            observer: "_ratingChanged"
          },

          maintenanceRating: {
            type: Number,
            value: 0,
            observer: "_ratingChanged"
          },

          comfortRating: {
            type: Number,
            value: 0,
            observer: "_ratingChanged"
          },

          oneSentence: {
            type: String,
            value: ''
          },

          /**
           * @name radioOptions
           * @description recommend options
           */
          radioOptions: {
            type: Array,
            notify: true,
            readOnly: false,
            value: [
              {'name': 'yes', 'label': 'Yes'},
              {'name': 'no', 'label': 'No'}
            ]
          },
          /**
           * @name tipsOpenClassName
           * @description the class name when the tips is opened in mobile view
           */
          tipsOpenClassName: {
            type: String,
            value: ''
          }
        }
      }

      static get observers() {
        return [
          '_productNameChanged(routeData.productName)'
        ]
      }

      /**
       * @name _productNameChanged
       * @description if the productName changes dispatch an action to retrieve product
       * @param product - Object
       * @returns Boolean
       */
      _productNameChanged(productName) {
        if(productName) {
          this.dispatch('requestProduct', productName);
          this.dispatch('setCurrentProduct', productName);
        }
      }

      _ratingChanged() {
        console.log('_ratingChanged');
      }

      /**
       * @name _showTips
       * @description set the tipsOpenClassName to the mobile tips element
       */
      _showTips() {
        this.tipsOpenClassName = this.tipsOpenClassName === '' ? 'details-container--tips-mobile_open' : '';
      }
    }

    customElements.define(DorelTemplateSubmitReview.is, DorelTemplateSubmitReview);
  </script>
</dom-module>
